@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/template/writer/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/template/writer/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/template/writer/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/template/writer/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/template/writer/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-3 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="~/template/writer/images/logo.svg" alt="logo">
                            </div>
                            @using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "pt-3" }))
                            {
                                <div class="form-row">
                                    @Html.TextBox("FirstName", "",new{@class = "form-control form-control-lg", @placeholder = "Ad"})
                                </div>
                                <div class="form-row mt-3">
                                    @Html.TextBox("LastName", "",new{@class = "form-control form-control-lg", @placeholder = "Soyad"})
                                </div>
                                <div class="form-row mt-3">
                                    @Html.TextBox("Username", "",new{@class = "form-control form-control-lg", @placeholder = "Kullanıcı Adı"})
                                </div>
                                <div class="form-row mt-3">
                                    @Html.TextBox("Password", "",new{@class = "form-control form-control-lg", @placeholder = "Şifre", @type="password"})
                                </div>
                                <div class="form-row mt-3">
                                    @Html.TextBox("Email", "",new{@class = "form-control form-control-lg", @placeholder = "E-posta"})
                                </div>
                                <div class="form-row mt-3">
                                    <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">KAYIT OL</button>
                                </div>

                                <div class="text-center mt-4 font-weight-light">
                                    Zaten üye misin? <a href="/Writer/Login/" class="text-primary">Login</a>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/template/writer/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/template/writer/js/off-canvas.js"></script>
    <script src="~/template/writer/js/hoverable-collapse.js"></script>
    <script src="~/template/writer/js/template.js"></script>
    <script src="~/template/writer/js/settings.js"></script>
    <script src="~/template/writer/js/todolist.js"></script>
    <!-- endinject -->
</body>

</html>