@using EntityLayer.Concrete
@model List<Skill>
<div class="section px-3 px-lg-4 pt-5" id="skills">
	<div class="container-narrow">
		<div class="text-center mb-5">
			<h2 class="marker marker-center">My Skills</h2>
		</div>
		<div class="text-center">
			<p class="mx-auto mb-3" style="max-width:600px">I am a quick learner and specialize in multitude of skills required for Web Application Development and Product Design</p>
		</div>
		<div class="bg-light p-3">
			<div class="row">
				<div class="col-md-5">
					@{
						int delay = 100;
						int delayLast = 100;
						int skillCount = Model.Count;
						int take = 0;
						int lastTake = 0;

						if (skillCount % 2 == 0)
						{
							take = skillCount / 2;
							lastTake = take;
						}
						else
						{
							take = (skillCount / 2) + 1;
							lastTake = take - 1;
						}
					}
					@foreach (var skill in Model.Take(take))
					{
						<div class="py-1">
							<div class="d-flex text-small fw-bolder"><span class="me-auto">@skill.Title</span><span>@skill.Rate%</span></div>
							<div class="progress my-1">
								<div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="@delay" data-aos-anchor=".skills-section" style="width: @skill.Rate%" aria-valuenow="@skill.Rate" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>

						{ delay += 100; }
					}

				</div>
				<div class="col-md-5 offset-md-2">
					@foreach (var skill in Model.TakeLast(lastTake))
					{
						<div class="py-1">
							<div class="d-flex text-small fw-bolder"><span class="me-auto">@skill.Title</span><span>@skill.Rate%</span></div>
							<div class="progress my-1">
								<div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right" data-aos-delay="@delayLast" data-aos-anchor=".skills-section" style="width: @skill.Rate%" aria-valuenow="@skill.Rate" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>

						{ delayLast += 100; }
					}
				</div>
			</div>
		</div>
	</div>
</div>