@using EntityLayer.Concrete
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">İçerik</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">Yetenekler</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table id="tblSkills" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>Oran</th>
                                    <th>Oran</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var skill in Model)
                                {
                                    <tr>
                                        <td>@skill.Title</td>
                                        <td>
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-primary" style="width: @skill.Rate%"></div>
                                            </div>
                                        </td>
                                        <td>@skill.Rate</td>
                                        <td>
                                            @if (skill.IsDeleted)
                                            {
                                                <span class="badge badge-danger">Silindi</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-success">Aktif</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-outline-primary btn-sm btnYetenekDuzenle" data-yetenekid="@skill.Id" data-baslik=" @skill.Title" data-sil="@skill.IsDeleted" data-oran="@skill.Rate">Düzenle</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="btn btn-primary" id="btnYetenekEkle">Yetenek Ekle</a>
            </div>
        </div>
    </div>
</div>
<script src="~/template/admin/content/plugins/jquery/jquery.min.js"></script>

<script>
    $(function () {
        $("#tblSkills").DataTable({
            order: [[3, 'asc']],
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            }
        });

    });</script>

<script>
    $(document).ready(function () {
        $(document).on("click", ".btnYetenekDuzenle", OpenDuzenleModal);
        $(document).on("click", "#btnYetenekEkle", OpenEkleModal);
    });

    function OpenEkleModal() {
        $("#modalYetenekEkle").modal();
    }

    function OpenDuzenleModal() {
        var yetenekId = $(this).data("yetenekid");
        var yetenekBaslik = $(this).data("baslik");
        var yetenekOran = $(this).data("oran");
        var yetenekSil = $(this).data("sil");

        if (yetenekSil == "True") {
            $('#IsDeleted').prop('checked', true);
        } else {
            $('#IsDeleted').prop('checked', false);
        }

        $('#Id').val(yetenekId);
        $('#Title').val(yetenekBaslik);
        $('#Rate').val(yetenekOran);

        $("#modalYetenekDuzenle").modal();
    }

</script>

<div class="modal fade" id="modalYetenekEkle" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Yetenek Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Add", "Skill", FormMethod.Post))
                        {
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.Label("AddTitle", "Başlık", new { @class = "small mb-1" })
                                    @Html.TextBox("AddTitle", "", new { @class = "form-control py-3", @maxlength = "50" })
                                    @Html.ValidationMessage("AddTitle", "", new { @class = "small", @style = "color:red" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.Label("AddRate", "Oran", new { @class = "small mb-1" })
                                    @Html.TextBox("AddRate", "", new { type = "number", min = "1", max = "100", step = "1", @class = "form-control py-3" })
                                    @Html.ValidationMessage("AddRate", "", new { @class = "small", @style = "color:red" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group mt-4 mb-0">
                                        <button class="btn btn-primary btn-block" type="submit">Kaydet</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalYetenekDuzenle" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Yetenek Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Edit", "Skill"))
                        {
                            @Html.Hidden("Id")

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.Label("Title", "Başlık", new { @class = "small mb-1" })
                                    @Html.TextBox("Title", "", new { @class = "form-control py-3", @maxlength = "50" })
                                    @Html.ValidationMessage("Title", "", new { @class = "small", @style = "color:red" })
                                </div>
                                <div class="form-group col-md-12">
                                    @Html.Label("Rate", "Oran", new { @class = "small mb-1" })
                                    @Html.TextBox("Rate", "", new { type = "number", min = "1", max="100", step = "1", @class = "form-control py-3" })
                                    @Html.ValidationMessage("Rate", "", new { @class = "small", @style = "color:red" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <div class="custom-control custom-checkbox">
                                        @Html.CheckBox("IsDeleted", new { @class = "custom-control-input" })
                                        @Html.Label("IsDeleted", "Sil", new { @class = "custom-control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group mt-4 mb-0">
                                        <button class="btn btn-primary btn-block" type="submit">Kaydet</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["SkillMessage"] != null)
{
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: '@TempData["SkillType"]',
            title: '@TempData["SkillMessage"]'
        })
    </script>
}